<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Início</a></li>
                    <li class="uk-active"><a href="#">Funcionalidades</a></li>
                    <li class="uk-active"><a href="#">Demo</a></li>
                    <li class="uk-active"><a href="#">Planos & Preços</a></li>
                    <li class="uk-active"><a href="#">Sobre a Empresa</a></li>

                    <li class="uk-active"><a href="#">FAQ</a></li>
                    <li class="uk-active"><a href="#">Contacto e Suporte</a></li>




                   
                </ul>

            </div>

        </div>
    </div>
</nav>