<app-menu></app-menu>

<div style=" background-image: url('/images/bg.jpg'); background-size: cover; background-repeat: no-repeat ; background-position: center; ">
    <div class="uk-container uk-text-left uk-margin-large-top ">

        <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-margin-large-top uk-margin-large-bottom uk-grid"
            uk-grid>
            <div class="uk-margin-large-top">
                <h3 class="off-white">Experimente <b>FluxoPLAYOUT</b></h3>
                <h1 class="off-white uk-margin-remove"><b>Começar um canal com emissão 24/7<br> nunca foi tão fácil</b>
                </h1>
                <h3 class="off-white uk-text-left"><b>FluxoPlayout</b> é uma solução completa para playout de mídia com
                    pagamento em
                    Kwanzas.</h3>
                <p class="off-white" uk-margin>

                    <button class="uk-button fundo-bt uk-button-large uk-border-pill">Teste gratuitamente agora
                    </button>
                </p>
            </div>

            <div class="uk-text-center uk-margin-large-top ">
                <img class="imagem uk-padding" alt="fluxoPlayout" src="/images/fluxoplayout.png">

            </div>


        </div>


    </div>
</div>

<div id="funcionalidade" class="uk-background-muted fundo-bg-1  ">

    <div class="uk-margin-small-right uk-margin-small-left">
        <div class="uk-child-width-1-4@m uk-child-width-1-1@s uk-grid-small uk-grid-match uk-grid " uk-grid>

            <div>
                <div class="uk-card uk-card-body uk-width-1-1@m">

                    <div class="">

                        <div class="uk-card uk-card-body uk-width-1-1@m">
                            <h3 style="color: white;"><b>Características</b></h3>
                            <ul class="uk-list ">
                                <li>
                                    Confiabilidade 24/7
                                </li>
                                <li style="color:white !important"> Interface Gráfica Web Moderna</li>
                                <li> Baseado na Nuvem</li>
                                <li> Personalizável</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body  uk-width-1-1@m">

                    <div class="">

                        <div class="uk-card uk-card-body  uk-width-1-1@m">
                            <h3 style="color: white;"><b>
                                    Funcionalidades </b></h3>
                            <ul class="uk-list">
                                <li>Full HD</li>
                                <li>Multi-canal</li>
                                <li>Multi-formatos (.mp4, .flv, etc)</li>
                                <li> Suporta: RTMP e HSL</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body  uk-width-1-1@m">

                    <div class="">

                        <div class="uk-card uk-card-body  uk-width-1-1@m">
                            <h3 style="color: white;"><b>Vantagens</b></h3>
                            <ul class="uk-list ">
                                <li>Pagamento em Kwanzas</li>
                                <li>pague conforme o uso</li>
                                <li>Suporte local</li>
                                <li>Activação em 24 horas</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <img class="uk-padding" src="/images/laptop.png">
            </div>

        </div>
    </div>
</div>


<div class="fundo-bg-2">

    <div class="uk-container uk-text-center ">
        <h2 style="color:white" class="uk-margin-large-top">O <b>FluxoPLAYOUT</b>, por sua natureza como uma solução
            robusta e flexível para playout de mídia, encontra
            aplicações em diversas áreas e indústrias, tais como:</h2>
    </div>


    <div class=" uk-margin-large-left uk-margin-large-right uk-margin-large-top  ">
        <div class="uk-child-width-1-4@m uk-child-width-1-1@s uk-grid-match uk-grid  uk-grid-large " uk-grid>
            <!-- Repeated card structure -->
            <div>
                <div class="uk-text-left uk-margin-small-bottom">
                    <img alt="Streaming" src="/images/radiodifusao.png" class="uk-card-media uk-border-rounded">


                    <p style="color: #b8b8b8"><b style="color: white">Televisão:</b> <br> Playout de programas, inserção
                        de vinhetas e legendas,
                        criação de grelhas de
                        programação.
                    </p>
                    <p style="color: #b8b8b8"><b style="color: white">Rádios:</b><br> Automatização da programação,
                        inserção de jingles e
                        comerciais, criação de playlists </p>

                </div>
            </div>
            <div>
                <div class="uk-text-left uk-margin-small-bottom">
                    <img alt="Streaming" src="/images/livestreaming.png" class="uk-card-media uk-border-rounded">

                    <p style="color: #b8b8b8"><b style="color: white">Plataformas de streaming:</b><br> Criação de
                        canais de streaming ao vivo e sob
                        demanda, programação 24/7
                    </p>
                    <p style="color: #b8b8b8"><b style="color: white">Podcasts:<br> </b> Automatização da distribuição
                        de episódios.
                    </p>


                </div>
            </div>
            <div>
                <div class="uk-text-left uk-margin-small-bottom">
                    <img alt="Streaming" src="/images/eventos.png" class="uk-card-media uk-border-rounded">
                    <p style="color: #b8b8b8"><b style="color: white">Transmissões ao vivo:<br> </b> CrPlayout de
                        apresentações, shows e eventos esportivos.
                    </p>
                    <p style="color: #b8b8b8"><b style="color: white">Videoconferências:</b> <br> Reprodução de vídeos e
                        slides durante apresentações.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-text-left uk-margin-small-bottom">
                    <img alt="Streaming" src="/images/digittal_signage.png" class="uk-card-media uk-border-rounded">
                    <p style="color: #b8b8b8"><b style="color: white">Publicidade e Sinaléctica Digital:</b><br>
                        Reprodução de conteúdo dinâmico em locais públicos, como shoppings, hospitais, bancos, hotéis,
                        aeroportos, estações de trem, etc.
                    </p>
                    <p style="color: #b8b8b8"><b style="color: white">Vitrines digitais:</b> <br>Criação de experiências
                        visuais interativas para lojas e marcas.
                    </p>
                </div>
            </div>




        </div>


    </div>


</div>
<div class="fundo-guia">
    <div class="card uk-card  uk-border-rounded uk-card-body uk-width-1-1@m uk-text-center">
        <h1 style="color: white"><b>Quer saber mais?</b> </h1>

        <h3 style="color:white"> Descarregue o <b> Guia do Produto</b></h3>

        <a href="https://wa.me/244937754502/?text=Ol%C3%A1%2C%20estou%20interessado%20em%20servi%C3%A7o%20vosso%2C%20h%C3%A1%20algu%C3%A9m%20dispon%C3%ADvel%20agora%20para%20me%20atender%3F"
            target="_blank" class="whatsapp-button">
            <!-- Add your WhatsApp button icon or text here -->

            <button class="uk-button fundo-bt-3 uk-button-large uk-border-pill"><span style="color:white"
                    class="uk-margin-small-right" uk-icon="download"></span>
                Descarregar </button>


        </a>

    </div>
</div>
<div class="uk-text-center uk-margin-medium-top uk-container">
    <h1 style=" color: #041028;">A solução completa para playout de mídia,<br> com <b style="color: #ff0000;">pagamento
            em Kwanzas</b></h1>
    <h2>Escolha um plano para começar </h2>
</div>


<div id="planos" class="uk-container uk-margin-large-top">
    <div class="uk-child-width-1-4@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        <div class="uk-margin-small-top">
            <div class="card uk-card uk-card-default uk-border-rounded uk-card-body uk-width-1-1@m">
                <h3 style=" color: #ff0000;" class="uk-card-title"><b>Demo Grátis</b></h3>
                <ul class="uk-list uk-list-divider ">
                    <li>Transmissão 24/7</li>
                    <li>Interface Gráfica Web Moderna</li>
                    <li>Baseado na Nuvem</li>
                    <li>Personalizável</li>
                    <li>Acesso limitado a funcionalidades</li>
                    <li>Período de teste de 48 horas</li>
                </ul>
                <h3 style=" color: #ff0000;" class="uk-card-title"><b>0,00 Kz</b></h3>


                <a href="#gratis" class="uk-button uk-border-pill fundo-bt" uk-toggle>Solicitar Agora</a>

                <!-- This is the modal -->
                <div id="gratis" uk-modal>
                    <div class="border-modal uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title"> Peça uma demonstração grátis</h2>
                      
                        <!-- Formulário -->

                        <form class="uk-form-stacked contact-form" (submit)="sendEmail($event)">
                            <label>Nome</label>

                            <div class="uk-margin">
                                <input class="uk-background-muted uk-input uk-border-pill" type="text" name="user_name">
                            </div>

                            <label>E-mail</label>

                          <div class="uk-margin">
                            <input class=" uk-input uk-width-1-2 uk-background-muted uk-border-pill uk-input" type="email" name="user_email">
                        </div>

                        <label>Endereço</label>
                        <div class="uk-margin">
                           
                            <input class="uk-background-muted uk-input uk-border-pill" type="text" name="endereco">
                        </div>

                        <label>NIF</label>
                        <div class="uk-margin">
                            <input class="uk-background-muted uk-input uk-border-pill uk-input uk-width-1-2 " type="text" name="nif">
                        </div>


                        
                        <label>Contacto</label>
                        <div class="uk-margin">
                            <input class="uk-background-muted uk-input uk-border-pill uk-input uk-width-1-2 " type="text" name="contacto">
                        </div>

                        
                      


                          <button class="uk-button uk-button-large uk-border-pill fundo-bt-4" type="submit" >CONFIRMAR</button>

                       
                          </form>
                    
                    </div>
                </div>

            </div>
        </div>





        <div class="uk-margin-small-top">
            <div class="card uk-card uk-card-default uk-card-body uk-width-1-1@m">
                <h3 style=" color: #ff0000;" class="uk-card-title"><b>WebTV</b></h3>
                <ul class="uk-list uk-list-divider ">
                    <li>Transmissão 24/7</li>
                    <li>Interface Gráfica Web Moderna</li>
                    <li>Baseado na Nuvem</li>
                    <li>Personalizável</li>
                    <li>Transmissão Full HD e 4K</li>
                    <li>Agendamento de programação</li>
                    <li>Monetização com anúncios</li>
                </ul>
                <h3 style=" color: #ff0000;" class="uk-card-title"><b>99.999,00 Kz</b></h3>
                <p>/mês</p>

                <a target="_blank"
                    href="https://q28hpkmheelk.upmind.app/order/product?pid=052d137e-08d2-4153-532a-5495163789e6"
                    class="uk-button uk-border-pill fundo-bt">Solicitar Agora</a>
            </div>
        </div>




        <div class="uk-margin-small-top">
            <div class="card uk-card uk-card-default uk-card-body uk-width-1-1@m">
                <h3 style=" color: #ff0000;" class="uk-card-title"><b>Institucional</b></h3>
                <ul class="uk-list uk-list-divider ">
                    <li>Transmissão 24/7</li>
                    <li>Interface Gráfica Web Moderna</li>
                    <li>Baseado na Nuvem</li>
                    <li>Personalizável</li>
                    <li>Streaming privado e seguro</li>
                    <li>Integração com sites e redes sociais</li>
                    <li>Armazenamento de vídeos e backups automáticos</li>
                </ul>
                <h3 style=" color: #ff0000;" class="uk-card-title"><b>399.999,00 Kz</b></h3>
                <p>/mês</p>
                <a target="_blank"
                    href="https://q28hpkmheelk.upmind.app/order/product?pid=93e8d569-d072-4523-252a-54e853121607 "
                    class="uk-button uk-border-pill fundo-bt ">Solicitar Agora</a>
            </div>
        </div>



        <div class="uk-margin-small-top">
            <div class="card uk-card uk-card-default uk-card-body uk-width-1-1@m">
                <h3 style=" color: #ff0000;" class="uk-card-title"><b>Broadcaster</b></h3>
                <ul class="uk-list uk-list-divider ">
                    <li>Transmissão 24/7</li>
                    <li>Interface Gráfica Web Moderna</li>
                    <li>Baseado na Nuvem</li>
                    <li>Personalização e Suporte</li>
                    <li>Suporte para RTMP, HLS, NDI, SDI e DASH</li>
                    <li>Múltiplos canais e multi-bitrate</li>
                    <li>Análise em tempo real da audiência</li>
                    <li>Integração com CDN para maior alcance</li>
                </ul>

                <h3 style=" color: #ff0000;" class="uk-card-title"><b>999.999,00 Kz</b></h3>
                <p>/mês</p>

                <a href="#modal-example" target="_blank"
                    href="https://q28hpkmheelk.upmind.app/order/product?pid=5983e230-6e75-40de-d50b-24981d210d76"
                    class="uk-button uk-border-pill fundo-bt" uk-toggle>Solicitar Agora</a>
            </div>
        </div>

    </div>



</div>


<div id="sobre" class="fundo-bg-1">

    <div class="uk-container uk-margin-large-top">

        <div
            class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left uk-margin-large-bottom uk-margin-large-top">
            <div>
                <div class="card uk-card  uk-border-rounded uk-card-body uk-width-1-1@m">
                    <img class="logo" src="images/fluxodigital-logo-white.png">
                    <h2 style="color: white"><b>Desenvolvimento nacional com qualidade de nível internacional</b> </h2>

                    <h4 style="color:white"> FluxoPLAYOUT é desenvolvido pela FLUXODIGITAL, empresa angolana de TI e
                        multimedia </h4>

                    <a href="https://fluxo-digital.com/" class="uk-button uk-border-pill fundo-bt-3">Saiba mais </a>


                </div>
            </div>
            <div>
                <div class="card uk-card  uk-card-body uk-width-1-1@m">
                    <video style="border-radius: 10px;" autoplay loop muted id="promoVideo"
                        class="promo-video uk-border-rounded">
                        <source src="https://fluxo-digital.com/videos/audiovisual_promo-vid.mp4" type="video/mp4">
                        Seu não navegador não suporta o vídeo em falta.
                    </video>
                </div>
            </div>

        </div>

    </div>

</div>





<div id="id" class="uk-background-muted">
    <div class="uk-container  ">
        <h1 class="uk-text-center uk-margin-bottom uk-margin-large-top uk-margin-large-bottom"><b>Perguntas
                Frequentes</b></h1>

        <ul uk-accordion class="uk-accordion  uk-margin-large-bottom uk-list-divider">
            <!-- Question 1 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 style="font-weight: bold;" class="uk-margin-remove">1. O que é o FluxoPLAYOUT?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">O <b>FluxoPLAYOUT</b> é uma solução completa para playout de mídia,
                        permitindo a criação e gestão de canais de transmissão 24/7 de forma fácil e acessível. É uma
                        plataforma baseada na nuvem, com suporte a múltiplos formatos e funcionalidades avançadas para
                        TV, rádio, streaming e sinalização digital.</p>
                </div>
            </li>

            <!-- Question 2 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 class="uk-margin-remove">2. Quais são as principais funcionalidades?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <ul class="uk-list uk-list-bullet uk-margin-remove">
                        <li class="uk-margin-remove">Transmissão contínua (24/7) em Full HD e 4K.</li>
                        <li class="uk-margin-remove">Suporte a múltiplos formatos (MP4, FLV, etc.) e protocolos (RTMP,
                            HLS).</li>
                        <li class="uk-margin-remove">Interface web moderna para gestão de programação.</li>
                        <li class="uk-margin-remove">Monetização com anúncios e integração com CDN.</li>
                        <li class="uk-margin-remove">Agendamento automático de conteúdo.</li>
                    </ul>
                </div>
            </li>

            <!-- Question 3 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 style="font-weight: bold;" class="uk-margin-remove">3. Como posso testar o FluxoPLAYOUT?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">Oferecemos um <b>plano Demo Gratuito</b> com acesso limitado por 48
                        horas. Basta clicar no botão <b>"Teste agora gratuitamente"</b> na página inicial.</p>
                </div>
            </li>

            <!-- Question 4 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 class="uk-margin-remove">4. Quais são os planos disponíveis?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">Temos quatro opções:</p>
                    <ul class="uk-list uk-list-bullet uk-margin-remove">
                        <li class="uk-margin-remove"><b>Demo Grátis</b> (teste limitado).</li>
                        <li class="uk-margin-remove"><b>WebTV</b> (ideal para canais de streaming).</li>
                        <li class="uk-margin-remove"><b>Institucional</b> (soluções corporativas e privadas).</li>
                        <li class="uk-margin-remove"><b>Broadcaster</b> (para emissoras profissionais com múltiplos
                            canais).</li>
                    </ul>
                </div>
            </li>

            <!-- Question 5 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 style="font-weight: bold;" class="uk-margin-remove">5. Posso pagar em Kwanzas?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">Sim! O <b>FluxoPLAYOUT</b> aceita pagamento em Kwanzas, com planos
                        flexíveis e suporte local.</p>
                </div>
            </li>

            <!-- Question 6 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 class="uk-margin-remove">6. Quanto tempo leva para ativar o serviço?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">A ativação é feita em até <b>24 horas</b> após a confirmação do
                        pagamento.</p>
                </div>
            </li>

            <!-- Question 7 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 style="font-weight: bold;" class="uk-margin-remove">7. O FluxoPLAYOUT é seguro e confiável?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">Sim! Utilizamos infraestrutura em nuvem com alta disponibilidade, backup
                        automático e suporte técnico especializado.</p>
                </div>
            </li>

            <!-- Question 8 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 class="uk-margin-remove">8. Posso usar para sinalização digital ou rádio?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">Sim! A plataforma é versátil e aplicável em:</p>
                    <ul class="uk-list uk-list-bullet uk-margin-remove">
                        <li class="uk-margin-remove"><b>Televisão e Rádio</b> (programação automatizada).</li>
                        <li class="uk-margin-remove"><b>Streaming</b> (canais ao vivo e VOD).</li>
                        <li class="uk-margin-remove"><b>Publicidade Digital</b> (shoppings, aeroportos, etc.).</li>
                        <li class="uk-margin-remove"><b>Eventos</b> (transmissões ao vivo).</li>
                    </ul>
                </div>
            </li>

            <!-- Question 9 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 style="font-weight: bold;" class="uk-margin-remove">9. Há suporte técnico disponível?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">Sim, oferecemos <b>suporte local</b> para ajudar na configuração e
                        resolução de problemas.</p>
                </div>
            </li>

            <!-- Question 10 -->
            <li class="uk-margin-remove">
                <a class="uk-accordion-title uk-padding-small" href="#">
                    <h3 class="uk-margin-remove">10. Quem desenvolve o FluxoPLAYOUT?</h3>
                </a>
                <div class="uk-accordion-content uk-padding-small">
                    <p class="uk-margin-remove">A solução é desenvolvida pela <b
                            style="font-weight: bolder;">FLUXODIGITAL</b>, uma empresa angolana especializada em TI e
                        multimédia, com padrões internacionais de qualidade.</p>
                </div>
            </li>
        </ul>



    </div>
</div>


<div id="suporte" class="fundo-bg-3">

    <div class="uk-container ">

        <div class="uk-child-width-1-2@m uk-child-width-1-1@s  uk-grid uk-text-left uk-margin-large-top">
            <div>
                <div class="card uk-card  uk-border-rounded uk-card-body uk-width-1-1@m">
                    <h1 style="color: white"><b>Ainda precisa de ajuda?</b> </h1>

                    <h3 style="color:white"> O nosso suporte é 24/7 e humano, vamos ajudar sempre que for necessário.
                        <br>Fale com um técnico
                    </h3>

                    <a href="https://wa.me/244937754502/?text=Ol%C3%A1%2C%20estou%20interessado%20em%20servi%C3%A7o%20vosso%2C%20h%C3%A1%20algu%C3%A9m%20dispon%C3%ADvel%20agora%20para%20me%20atender%3F"
                        target="_blank" class="whatsapp-button">
                        <!-- Add your WhatsApp button icon or text here -->

                        <button class="uk-button fundo-bt-3 uk-button-large uk-border-pill"><span style="color:white"
                                class="uk-margin-small-right" uk-icon="whatsapp"></span>
                            WhatsApp</button>


                    </a>

                </div>
            </div>
            <div>
                <div class="    uk-width-1-1@m">
                    <img src="images/suporte.png">
                </div>
            </div>

        </div>

    </div>

</div>

<footer class="uk-section uk-section-secondary uk-light  uk-text-center">
    <div class="uk-container">
        <div class="uk-grid-small uk-child-width-1-1@m uk-child-width-1-1@s uk-grid" uk-grid>
            <ul class="uk-list uk-link-text">
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#">Termos e Condições</a></li>
                <li><a href="#">Política de Privacidade</a></li>
            </ul>
        </div>

    </div>
    <p class="uk-text-center uk-container">&copy; 2024 <b>FluxoPLAYOUT.</b> Todos os direitos reservados.</p>

</footer>