<div class="uk-container uk-text-center uk-margin-large-top">
    <h1>Bem-vindo ao <b>fluxoPLAYOUT</b><br>Começar um canal com emissão 24/7 nunca foi tão fácil</h1>
</div>

<div class="uk-margin-large-left uk-margin-large-right uk-margin-medium-top">
    <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid">
        <div>
            <div class="uk-text-center uk-card-body uk-width-1-1@m">
                <img class="sombra" alt="fluxoPlayout" src="/images/fluxoplayout.png">
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body uk-margin-small-top uk-width-1-1@m">
                <h3 class="uk-card-title">
                    <span uk-icon="check"></span> Full HD<br>
                    <span uk-icon="check"></span> Inserção de Publicidade<br>
                    <span uk-icon="check"></span> Multi-canal<br>
                    <span uk-icon="check"></span> Multi-formatos (.mp4, .flv, etc)<br>
                    <span uk-icon="check"></span> Suporta: RTMP e HSL
                </h3>
                <a href="https://fluxo-digital.com/#/contacto">
                    <button type="button" class="uk-button uk-button-primary uk-button-large uk-border-rounded"><b>SOLICITAR</b></button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-text-center uk-margin-small-top">
    <h2>O <b>fluxoPLAYOUT</b>, por sua natureza como uma solução robusta e flexível para playout de mídia, encontra aplicações em diversas áreas e indústrias, tais como:</h2>
</div>

<div class="uk-margin-large-left uk-margin-large-right uk-margin-large-top">
    <div class="uk-child-width-1-5@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center uk-flex-center">
        <!-- Repeated card structure -->
        <div>
            <div class="uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Radiodifusão</h3>
                <img alt="Radiodifusão" src="/images/radiodifusao.png" class="uk-card-media">
                <p>
                    <b>Rádios:</b> Automatização da programação, inserção de jingles e comerciais, criação de playlists personalizadas.<br>
                    <b>Televisão:</b> Playout de programas, inserção de vinhetas e legendas, criação de grelhas de programação.
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Streaming</h3>
                <img alt="Streaming" src="/images/livestreaming.png" class="uk-card-media">
                <p>
                    <b>Plataformas de streaming:</b> Criação de canais de streaming ao vivo e sob demanda, programação 24 horas por dia.<br>
                    <b>Podcasts:</b> Automatização da distribuição de episódios, criação de feeds RSS.
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Eventos</h3>
                <img alt="Eventos" src="/images/eventos.png" class="uk-card-media">
                <p>
                    <b>Transmissões ao vivo:</b> Playout de apresentações, shows e eventos esportivos.<br>
                    <b>Videoconferências:</b> Reprodução de vídeos e slides durante apresentações.
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Digital Signage</h3>
                <img alt="Digital Signage" src="/images/digittal_signage.png" class="uk-card-media">
                <p>
                    <b>Displays digitais:</b> Reprodução de conteúdo dinâmico em locais públicos, como shoppings, hospitais, bancos, aeroportos e estações de trem.<br>
                    <b>Vitrines digitais:</b> Criação de experiências visuais interativas para lojas e marcas.
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Museus e Galerias</h3>
                <img alt="Museus e Galerias" src="/images/museus.png" class="uk-card-media">
                <p>
                    <b>Exposições interativas:</b> Criação de experiências multimídia envolventes para visitantes.<br>
                    <b>Guias audiovisuais:</b> Reprodução de informações sobre obras de arte e objetos históricos.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="uk-text-center uk-margin-medium-top">
    <h1>A solução completa para playout de mídia,<br>agora com <b>pagamento em Kwanzas</b></h1>
</div>

<div class="uk-container uk-margin-large-top">
    <div class="uk-child-width-1-4@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
        <div>
            <div class="card uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Confiabilidade 24/7</h3>
                <p>Projetado para operar continuamente, garantindo que seu conteúdo seja reproduzido sem interrupções.</p>
            </div>
        </div>
        <div>
            <div class="card uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Interface Gráfica Web Moderna</h3>
                <p>Uma interface intuitiva permite gerenciar playlists, configurar o sistema e monitorar o processo de reprodução de forma fácil e eficiente.</p>
            </div>
        </div>
        <div>
            <div class="card uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Feito para a Nuvem</h3>
                <p>Pode ser implantado em infraestrutura local (on-premise) e na nuvem, proporcionando escalabilidade e acessibilidade de qualquer lugar.</p>
            </div>
        </div>
        <div>
            <div class="card uk-card uk-card-body uk-width-1-1@m">
                <h3 class="uk-card-title">Personalizável</h3>
                <p>Permite configurar diversas opções e integrar-se com outros sistemas para atender às suas necessidades específicas.</p>
            </div>
        </div>
    </div>
</div>


<footer class="uk-section uk-section-secondary uk-light uk-margin-large-top">
    <div class="uk-container">
        <div class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-1@s uk-grid" uk-grid>
    
        <div class="uk-text-center uk-margin-top">
            <p>&copy; 2024 fluxoPLAYOUT. Todos os direitos reservados.</p>
        </div>
    </div>

