


body, a, p, li, nav,  h1, h2, h3, ul, i, footer {
    font-family: 'Ubuntu', sans-serif !important;
     
      font-style: normal;
      
  }
  html, body { height: 100%; }
  body { margin: 0; 
    font-family: 'Ubuntu', sans-serif !important;
  }
  
